altgraph==0.17.3
certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
distro==1.4.0
distro-info===0.23ubuntu1
greenlet==1.1.2
idna==2.8
jsonformatter==0.3.2
mysqlclient==2.1.0
numpy==1.15.0
pep8==1.7.1
psutil==5.9.0
pycodestyle==2.8.0
PyGObject==3.36.0
pyinstaller==5.11.0
pyinstaller-hooks-contrib==2023.3
python-apt==2.0.0+ubuntu0.20.4.7
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
SQLAlchemy==1.4.32
ssh-import-id==5.10
unattended-upgrades==0.1
urllib3==1.25.8
