asttokens==2.4.1
cfgv==3.4.0
comm==0.2.2
debugpy==1.8.1
decorator==5.1.1
distlib==0.3.8
executing==2.0.1
filelock==3.13.1
greenlet==3.0.3
identify==2.5.35
iniconfig==2.0.0
ipykernel==6.29.3
ipython==8.22.2
jedi==0.19.1
jupyter_client==8.6.1
jupyter_core==5.7.2
matplotlib-inline==0.1.6
nest-asyncio==1.6.0
nodeenv==1.8.0
packaging==24.0
parso==0.8.3
pexpect==4.9.0
platformdirs==4.2.0
pluggy==1.4.0
pre-commit==3.7.0
prompt-toolkit==3.0.43
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pycodestyle==2.7.0
Pygments==2.17.2
pytest==8.1.1
python-dateutil==2.9.0.post0
PyYAML==6.0.1
pyzmq==25.1.2
setuptools==69.2.0
six==1.16.0
SQLAlchemy==2.0.29
stack-data==0.6.3
tornado==6.4
traitlets==5.14.2
typing_extensions==4.10.0
virtualenv==20.25.1
wcwidth==0.2.13
