certifi==2019.11.28
chardet==3.0.4
dbus-python==1.2.16
distro-info==0.23+ubuntu1.1
greenlet==3.0.3
idna==2.8
mysqlclient==2.2.4
pycodestyle==2.11.1
PyGObject==3.36.0
python-apt==2.0.1+ubuntu0.20.4.1
requests==2.22.0
requests-unixsocket==0.2.0
six==1.14.0
SQLAlchemy==2.0.28
typing-extensions==4.10.0
unattended-upgrades==0.1
urllib3==1.25.8
