footer {
    background-color: white;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
