/* Footer style */
footer {
  background-color: white;
  height: 60px;
  width: 100%;
  border-top: solid 1px #cccccc;
  position: relative;
  bottom: 0;
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* Footer text style */
.in-footer {
  margin: 0;
}
