footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  height: 60px;
  border-top: 1px solid #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}
