header {
    background-color: #FFFFFF;
    background-image: url("../images/logo.png");
    background-position: left-top;
    background-repeat: no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
