header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}
