/* 
==============================================
Header
==============================================
*/
header {
  border-bottom: 1px solid #cccccc;
  background-color: white;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px;
  height: 70px;
  width: 100%;
}
