header {
  background-color: white;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

header .logo {
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 5px;
  height: 100%;
  margin-left: 20px;
}
