/* Body style */
body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container style */
.container {
  width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
