.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
button:hover{
    opacity: 0.9;
}
.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    float: left;
}
.amenities{
    text-align: left;
    align-content: flex-start;
    height: 100%;
    width: 25%;
    float: left;
}
.amenities h3, .locations h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0px;
    padding-left: 30px;
}
.amenities h4, .locations h4{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 30px;
}
.popover{
    visibility: hidden;
    background-color: #FAFAFA;
    border: solid #DDDDDD 1px;
    border-radius: 4px;
    margin-top: 7%;
    padding-bottom: 10%;
    overflow: scroll;
    max-height: 300px;

}
.popover li h2{
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.popover_list{
    padding:0px;
    margin:0px;
    padding-left: 10%;
}
li{
    list-style-type: none;
    padding-bottom: 5%;
}
ul{
    padding-top: 30px;
}
.locations:hover >.popover{
    visibility: visible;
    margin-bottom: 50px;
}

.amenities:hover > .popover{
    visibility: visible;
}
