.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

button {
    font-size: 18px;
    background-color: #FF5A5F;
    color:  #FFFFFF;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    float: right;
    margin: 11px 11px 30px;
}

button :hover {
    opacity: 90%;
}


.locations{
    height: 100%;
    width: 25%;
    float: left;
    line-height: 20px;
    border-right: 1px solid #DDDDDD;
   
}

.amenities {
   
    height: 100%;
    width: 25%;
    float: left;
    line-height: 20px;
}

.popover{
    list-style-type: none;
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    margin-left: -1px;
    margin-top: 1px;
    padding: 20px 0px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    max-height: 300px;
}
.locations:hover .popover{
    display: inline-block;
}

.amenities:hover .popover{
    display: block;
}
ul {
    list-style-type: none;
}

h2 {
    font-size: 16px;
    padding-left: 30px;
}

h3 {
    font-weight: 600;
    margin-top:20px;
    margin-bottom: 10px;
    padding-left: 45px;
}

h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -5px;
    margin-bottom: 5px;
    padding-left: 45px;
}