/* Filters style */
.filters {
  color: white;
  height: 70px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
  display: flex;
  margin-bottom: 10px;
}

/* Filters button style */
.filters button {
  float: right;
  margin-top: 11px;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff5a5f;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.filters button:hover {
  opacity: 0.9;
}

/* Locations style */
.filters .locations {
  color: #484848;
  height: 100%;
  width: 25%;
  border-right: #dddddd solid 1px;
  margin-right: 0;
}

/* Amenities style */
.filters .amenities {
  color: #484848;
  height: 100%;
  width: 25%;
  margin-right: auto;
}

.filters .amenities h3,
.filters .locations h3 {
  margin-bottom: 0;
  margin-left: 15%;
  text-align: left;
  font-weight: 600;
}

.filters .amenities h4,
.filters .locations h4 {
  margin-top: 0;
  margin-left: 15%;
  text-align: left;
  font-weight: 400;
  font-size: 14px;
}

.filters .locations .popover,
.filters .amenities .popover {
  display: none;
  color: #484848;
  background-color: #fafafa;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  list-style-type: none;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: -1px;
  margin-left: -1px;
  margin-right: -1px;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  max-height: 300px;
}

.filters .locations:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}

.popover h2 {
  font-size: 20px;
  font-weight: 600;
  font-weight: bolder;
  margin-bottom: 10px;
}

.popover ul {
  list-style-type: none;
  text-align: left;
  padding-left: 25px;
  font-weight: 520;
}

.popover li {
  font-weight: 500;
  margin-top: 10px;
}

.in-popover {
  list-style-type: none;
  margin-bottom: 27px;
  padding-left: 52px;
}
