.filters{
	position: relative;
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	z-index: 1;
}

.filters button{
	position: absolute;
	/*centring the button vertically and horizontally*/
	top: 50%;
	right: 30px;
	margin-top: -24px;
	/*end*/
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
}

.filters button:hover{
	opacity: 0.9;
}

.filters .amenities{
	height: 100%;
	width: 25%;
	float: left;
}

.filters .locations{
	height: 100%;
	width: 25%;
	border-right: 1px solid #DDDDDD;
	float: left;
}

.filters .locations h3, .filters .amenities h3{
	font-weight: 600;
	padding: 0;
	margin: 0;
	padding-left: 40px;
	height: 50%;
	text-align:left;
	padding-top: 10px;
}

.filters .locations h4, .filters .amenities h4{
	font-weight: 400;
	font-size: 14px;
	padding: 0;
	margin: 0;
	padding-left: 40px;
	height: 50%;
	text-align:left;
}

.locations ul{
	list-style: none;
	margin: 0 0 0 -1px;
}

.amenities ul{
	list-style: none;
	margin: 0 0 0 -1px;
	padding-top: 30px;
}

.locations:hover ul, .popover:hover {
	visibility: visible;
	display: block;
}

.amenities:hover ul, .popover:hover {
	visibility: visible;
	display: block;
}

.popover{
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 30px;
	visibility: hidden;
	display: none;
	background-color: #FAFAFA;
	width: calc(100% + 2px);
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	height: auto;
}

.popover li{
	margin: 7px 0 0 7px;
}

.locations>.popover>li:first-child>h2{
	padding-top: 0;
}

.popover h2{
	font-size: 16px;
	padding: 10px 0 0 0;
	margin: 0;
}
