/* Places class style */
.places {
  display: flex;
  margin: 15px auto;
  text-align: center;
  /*! justify-content: center; */
  flex-wrap: wrap;
}

/* Places h1 style */
.places h1 {
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 30px;
}

/* Places article style */
.places article {
  display: flex;
  width: 390px;
  margin: 20px;
  padding: 10px 20px;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;

  border: 1px solid #ff5a5f;
  border-radius: 4px;
  text-align: center;
}

/* Article h2 style */
article h2 {
  max-width: 85%;
  font-size: 30px;
  padding: 0px;
  margin: 10px 0xp;
  text-align: left;
}

/* Price by night class style */
.places .price_by_night {
  display: flex;
  height: 60px;
  min-width: 60px;
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 120px 120px / 120px;
  font-size: 30px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  position:absolute;
  right: 10px;
}

/* Information class style */
.places .information {
  display: inline-block;
  height: 80px;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Max guest, number rooms and number bathrooms class style */
.max_guest,
.number_rooms,
.number_bathrooms {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 0;
}

/* Guest icon class style */
.guest_icon {
  display: inline-block;
  background-image: url("../images/icon_group.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

/* Bedroom icon class style */
.bed_icon {
  display: inline-block;
  background-image: url("../images/icon_bed.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 30px;
}

/* Bathroom icon class style */
.bath_icon {
  display: inline-block;
  background-image: url("../images/icon_bath.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 30px;
}

/* User class style */
.user {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Description class style */
.description {
  text-align: left;
}

strong {
  font-weight: bold;
}

.description p {
  margin-top: 8px;
}
