.places {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.places h1 {
    height: 30px;
    width: 100%;
    font-size: 30px;
    padding-left: 3%;
}

article {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 390px;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    
}

.title_of_place {
    display: flex;
    height: 30px;
    text-align: left;
    font-size: 20px;
    margin-top: auto;
}

.price_by_night {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FF5A5F;
    min-width: 60px;
    width: 60px;
    height: 60px;
    font-size: 20px;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    margin-left: auto;
    margin-top: auto;
}

.tripleDigits {
    font-size: 25px;
}

.information {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    margin-top: 10px
}

.max_guest,
.number_rooms,
.number_bathrooms {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;   
}

.max_guest p,
.number_rooms p,
.number_bathrooms p {
    margin-top: 50px;
}

.user {
    margin-right: auto;
}

.ownerBold {
    font-weight: bold;
}
