/*
 * === Places Class Style === 
 */

 /* Place Style */
 .places {
    width: 100%;
    display: flex;
    margin-top: 20px;
    flex-flow: row wrap;
    justify-content: center;
}

 /* Header 1 Style */
.places h1 {
    font-size: 30px;
    text-align: left;
    margin-top: -7px;
    margin-left: -80px;
    flex-basis: 90%;
}

 /* Places Style */
 .places article {
    width: 390px;
    padding: 10px 10px 10px 10px;
    margin: 10px 50px 50px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
 }

 /* Header 2 Style */
 .places h2 {
    font-size: 30px;
    text-align: center;
    width: 100%;
    align-content: center;
 }

 /* Price By Night Class Style */
 .places .price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: relative;
    margin-top: -60px;
    margin-right: 30px;
    margin-bottom: 15px;
 }

 /* Informaton Class Style */
 .places .information {
    height: 80px;
    border-bottom: 1px solid #DDDDDD;
    border-top: 1px solid #DDDDDD;
    display: flex;
    font-size: 16px;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 100%;
 }

 /* Max-Guest Style */
 .places .max_guest,
 .places .number_rooms,
 .places .number_bathrooms {
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 /* Guest Icon */
 .icon_guest {
    background-image: url('../images/icon_group.png');
    width: 50px;
    height: 50px;
 }

 /* Bed Icon */
 .icon_bed {
    background-image: url('../images/icon_bed.png');
    width: 50px;
    height: 50px;
 }

 /* Bathroom Icon */
 .icon_bath {
    background-image: url('../images/icon_bath.png');
    width: 50px;
    height: 50px;
 }
