.places {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 45px auto;
}
.places h2 {
    text-align: left;
    width: 70%;
    display: block;
    margin-top: 0px;
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 30px;
}

.places .information {
    text-align: center;
}

article {
	display: flex;
	width: 390px;
	flex: none;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;

	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	margin: 20px;

	border: 1px solid #FF5A5F;
	border-radius: 4px;
}

.headline {
	display: flex;
	flex-direction: column;
	position: relative;
    min-height: 370px !important;
	width: 100%;
}

.headline h2 {
    margin-top: 5px;
    min-height: 70px;
}

.price_by_night {
	display: flex;
	justify-content: center;
	align-self: flex-end;

	position: absolute;
	right: 0;

	line-height: 60px;
	color: #FF5A5F;
	font-size: 30px;
	padding: 5px;
	border: 4px solid #FF5A5F;
	border-radius: 100%;
	float: right;
	min-width: 60px;
	height: 60px;
}

.information {
	display: block;
	height: 80px;
	width: 100%;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;

	padding-top: 5px;
	padding-bottom: 12px;
	margin-top: 10px;
	margin-bottom: 20px;
}

.max_guest, .number_rooms, .number_bathrooms {
	display: inline-block;
	width: 100px;
	text-align: center;
	margin: 0px auto;
}

.user {
	margin-top: 5px;
	margin-bottom: 12px;
}

.description {
	text-align: left;
}

h1 {
	display: block;
	text-align: left;
	width: 95%;
	display: block;
	margin-top: 0px;
	margin-left: 20px;
	margin-bottom: 5px;
	font-size: 30px;
}

article h2 {
	font-size: 30px;
	margin: 10px auto;
	padding: 0px;
}

.guest_icon {
	display: inline-block;
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
}

.bed_icon {
	display: inline-block;
	background-image: url("../images/icon_bed.png");
	background-repeat: no-repeat;
	background-position: center;
    width: 50px;
    height: 50px;
}

.bath_icon {
	display: inline-block;
	background-image: url("../images/icon_bath.png");
	background-repeat: no-repeat;
	background-position: center;
    width: 50px;
    height: 50px;
}

.reviews h2,
.amenities h2 {
    font-size: 20px;
}

.amenities ul,
.reviews ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.amenities h3 {
    font-size: 15px;
}
