/*
 * === Places class style ===
 */

/* Places flexbox */
.container .places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.places h1 {
  font-size: 30px;
  flex: 0 0 100%;
  margin: 0;
  padding-top: 30px;
  padding-left: 30px;
}

.places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  text-align: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places article h2 {
  font-size: 30px;
  margin: 0;
}

.places article .price_by_night {
  position: relative;
  align-self: flex-end;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  min-width: 60px;
  height: 60px;
  font-size: 30px;
  color: #ff5a5f;
  line-height: 60px;
  margin-top: -40px;
  padding: 10px;
}

.places article .information {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  margin: 10px;
  margin-bottom: 15px;
}

.places article .information div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 8px;
  width: 100px;
}

.places article .information .max_guest {
  background: url("../images/icon_group.png") no-repeat top content-box;
}

.places article .information .number_rooms {
  background: url("../images/icon_bed.png") no-repeat top content-box;
}

.places article .information .number_bathrooms {
  background: url("../images/icon_bath.png") no-repeat top content-box;
}

.places article .user,
.places article .description {
  align-self: flex-start;
  text-align: start;
  padding: 5px 0px;
}

.places article .amenities,
.places article .reviews {
  margin-top: 40px;
  text-align: start;
  align-self: flex-start;
  width: 100%;
}

.places article .amenities h2,
.places article .reviews h2 {
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.places article .amenities ul,
.places article .reviews ul {
  list-style: none;
  padding: 0;
}

.places article .amenities li {
  padding: 5px;
  padding-left: 40px;
  line-height: 1.5;
}

.places article .amenities ul .amenity-tv {
  background: url("../images/icon_tv.png") no-repeat left;
  background-size: 6%;
}

.places article .amenities ul .amenity-wifi {
  background: url("../images/icon_wifi.png") no-repeat left;
  background-size: 6%;
}

.places article .amenities ul .amenity-pets {
  background: url("../images/icon_pets.png") no-repeat left;
  background-size: 6%;
}

.places article .reviews ul {
  margin: 0;
}

.places article .reviews h3 {
  font-size: 14px;
  margin: 0;
  margin-top: 15px;
}

.places article .reviews p {
  margin-top: 3px;
  margin-bottom: 0;
}
