/* Places Section */
.places {
  display: flex;
  margin: 15px auto;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}

.places h1 {
  display: block;
  width: 100%;
  margin-top: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 30px;
}

.places article {
  display: flex;
  width: 390px;
  margin: 20px;
  padding: 10px 20px;

  flex-wrap: wrap;
  flex-direction: row;
  align-content: flex-start;

  border: 1px solid #ff5a5f;
  border-radius: 4px;
  text-align: center;
}

article h2 {
  font-size: 30px;
  padding: 10px;
  margin: 10px auto;
}

/* class price_by_night */
.places .price_by_night {
  display: flex;
  min-width: 60px;
  min-height: 60px;
  padding: 10px;
  /* Add padding */
  color: #ff5a5f;
  border: 4px solid #ff5a5f;
  border-radius: 50%;
  /* Makes a perfect circle */
  font-size: 30px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
}

/* information class */
.places .information {
  display: inline-block;
  height: 80px;
  width: 100%;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;

  padding-top: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* max_guest , number_rooms and number_bathrooms */
.max_guest,
.number_rooms,
.number_bathrooms {
  display: inline-block;
  width: 100px;
  text-align: center;
  line-height: 0;
}

/* guest icon */
.guest_icon {
  display: inline-block;
  background-image: url("../images/icon_group.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}

/* bedroom icon */
.bed_icon {
  display: inline-block;
  background-image: url("../images/icon_bed.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 30px;
}

/* bathroom icon */
.bath_icon {
  display: inline-block;
  background-image: url("../images/icon_bath.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 30px;
}

/* User class */
.user {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* Description class */
.description {
  text-align: left;
}

strong {
  font-weight: bold;
}

.description p {
  margin-top: 8px;
}

/* Amenities and Reviews section style */
article .amenities,
.reviews {
  display: flex;
  justify-content: right;
  flex-direction: column;
  align-items: normal;
  width: 100%;
  margin-top: 30px;
}

/* Subtitle style */
.places .amenities h2,
.places .reviews h2 {
  font-size: 16px;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
  margin-bottom: 0;
}

/* Unordered list style */
article ul {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
}

/* List item style */
article li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  list-style: none;
}

article li p {
  margin-top: 0;
}

article li h3 {
  margin-top: 0;
}

/* Amenities list style */
article ul.amenities_list {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 0px;
  padding: 0px;
  column-count: 3;
  column-gap: 20px;
}

/* Amenities list item style */
article ul.amenities_list li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  list-style: none;
  break-inside: avoid;
}

/* Heading 3 style */
article h3 {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Icon styles */

/* AC Icon style */
.ac_icon {
  display: inline-block;
  background-image: url("../images/icon_ac.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* TV Icon style */
.tv_icon {
  display: inline-block;
  background-image: url("../images/icon_tv.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Wifi Icon style */
.wifi_icon {
  display: inline-block;
  background-image: url("../images/icon_wifi.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Pet Icon style */
.pet_icon {
  display: inline-block;
  background-image: url("../images/icon_pets.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Gym Icon style */
.gym_icon {
  display: inline-block;
  background-image: url("../images/icon_gym.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Heating Icon style */
.heating_icon {
  display: inline-block;
  background-image: url("../images/icon_heating.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Kitchen Icon style */
.kitchen_icon {
  display: inline-block;
  background-image: url("../images/icon_kitchen.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Parking Icon style */
.parking_icon {
  display: inline-block;
  background-image: url("../images/icon_parking.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Pool Icon style */
.pool_icon {
  display: inline-block;
  background-image: url("../images/icon_pool.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Private Icon style */
.private_icon {
  display: inline-block;
  background-image: url("../images/icon_private.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

/* Washer Icon style */
.washer_icon {
  display: inline-block;
  background-image: url("../images/icon_washer.png");
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
