@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  z-index: -1;
}

.places article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4px;
  border: 1px solid #FF5A5F;
  box-sizing: border-box;
}

.places h1 {
  width: 100%;
  font-size: 30px;
  padding-left: 20px;
  margin: 10px auto auto;
}

.places h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
  flex-grow: 1;
}
/* ************************************************** */
/* article information */
/* ************************************************** */

/* circle with price */
.article_places_header {
  width: 100%;
  display: flex;
}

.price_by_night {
    min-width: 60px;
    height: 60px;
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 5px;
}

/* ******************************************/
/* information box with icons */
/* ******************************************/

.information {
  width: 100%;
  height: 80px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.user {
  padding: 20px 0 5px;
}
.user b, p {
  margin: 0;
  padding: 0;
}

/***********/
/* icons   */

.max_guest {
  background-image: url(../images/icon_group.png);
}

.number_rooms {
  background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
  background-image: url(../images/icon_bath.png)
}

.max_guest,
.number_rooms,
.number_bathrooms {
  width: 33%;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column-reverse;
  background-position-x: center;
  text-align:center;
}

/*******************************************/
/* more information */
/*******************************************/
.places .amenities,
.places .reviews {
  margin-top: 40px;
  width: 100%;
  height: inherit;
}

.places .amenities ul,
.places .reviews ul {
  list-style-type: none;
  padding: 0;
}

.places .amenities h2,
.places .reviews h2 {
  font-size: 16px;
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
}

.places .reviews h3 {
  font-size: 14px;
}

.places .reviews p {
  font-size: 12px;
}
/*******************************************/
/* amenities icons */
/*******************************************/
.places .amenities ul li{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  margin-bottom: 10px;
  align-items: end;
  }

.places_amenities_pet_friendly {
  background-image: url(../images/icon_pets.png);
}
.places_amenities_tv {
  background-image: url(../images/icon_tv.png);
}
.places_amenities_wifi {
  background-image: url(../images/icon_wifi.png);
}

.places_amenities_pet_friendly,
.places_amenities_tv,
.places_amenities_wifi {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
