footer {

    background-color: white; 
    height: 60px; 
    width: 100%;
    border-top: 1px solid #CCCCCC;  
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0;
    
}
