.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    width: 100%;
    font-size: 30px;
}

article {
    width: 390px;
    padding: 20px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
    z-index: -1;
}

article>h2 {
    font-size: 30px;
    display: flex;
    text-align: center;
    flex-direction: column;
    margin: 0;
    padding-bottom: 10%
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    border-radius: 100%;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 2%;
    right: 7%;
}

.information {
    height: 80px;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-position: center top;
    line-height: 9em;
    text-align: center;
}

.max_guest {
    background-image: url(../images/icon_group.png);
}

.number_rooms {
    background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
    background-image: url(../images/icon_bath.png);
}

.user {
    margin: 10px auto;
}

.places .amenities h2 {
    padding: 5% 0 5% 0;
    padding-bottom: 2%;
    border-bottom: 1px solid #DDDDDD;
}

.places .amenities>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.places .amenities>ul li {
    background-size: 20px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-repeat: no-repeat;
    line-height: 25px;
}

.tv {
    background-image: url(../images/icon_tv.png);
}

.wifi {
    background-image: url(../images/icon_wifi.png);
}

.pets {
    background-image: url(../images/icon_pets.png);
}

.reviews {
    margin-bottom: 5%;
}

.places .reviews>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
}

.places .reviews ul li h3 {
    margin-top: 0;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.places .reviews ul li p {
    padding-bottom: 5%;
    margin-top: 0px;
}


@media only screen and (max-width: 1030px) 
{
    .places h1 {
        width: 90%;
    }
}
@media only screen and (max-width: 410px) 
{
    .information {

        margin-top: 2%;
    }
}
@media only screen and (max-width: 381px) 
{
    .information {
      height: 20%;
      padding-top: 5%;
    }
    .price_by_night {
        position: static;
        width: 20%;
        min-width: 65px;
        display: flex;
        justify-content: center;
        margin: 0 auto 5% auto;

    }
}
@media only screen and (max-width: 281px) 
{
    .information {
      height: 23%;
    }
    .reviews {
        margin-bottom: 100%;
    }
}




/*
justify-content
align-items
flex-direction
order
align-self
flex-wrap
flex-flow
align-content
*/
