*{
        box-sizing: border-box;
}
body {
        height: 0%;
        margin: 0%;
        padding:0%;
        color:  #484848;
        font-size: 14px;
        font-family: Circular,"Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
}
.container {
        max-width: 1000px;
        margin: 30px auto;
}

@media only screen and (min-width : 150px) and (max-width : 700px) {
        html {
                width: 1000px;
        }
}