.filters {
  display: none;
}
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFF;
    height: 48px;
    width: 20%;
    max-width: 220px;
    border: none;
    border-radius: 4px;
    margin: auto 30px auto auto;
    align-self: center;
  }

  button:hover {
    opacity: .9;
    cursor: pointer;
  }

  .locations,
  .amenities {
    height: 100%;
    width: 25%;
    /* display: inline-block;
    vertical-align: left; */
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  .locations {
    border-right: 1px solid #DDDDDD;
  }

  .locations h3,
  .amenities h3{
    font-weight: 600;
    margin: 1em 0 auto 30px;
  }

  .locations h4,
  .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: auto 0 auto 30px;
  }

  /* ================================================================= */
  /* dropdown menu */
  /* ================================================================= */

  .popover {
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    padding: 20px 20px 20px 20px;
    display: none;
    background-color: #FAFAFA;
    margin: 17px 0 0 0;
  }

  .popover ul {
    margin-left: 10px;
  }

  ul > ul {
    padding: 0;
  }
  .popover li{
    list-style-type: none;
  }

  .popover h2 {
    font-size: 16px;
    margin: 5px auto 5px auto;
  }

  /* drop down on hover */

  .locations:hover,
  .amenities:hover {
    cursor: pointer;
  }

  .locations:hover .popover {
    display: block;
    cursor: pointer;
  }

  .amenities:hover .popover {
    display: block;
    cursor: pointer;
  }

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
