header {
    height: 70px; 
    width: 100%;
    border-bottom: 1px solid #575757;
    background: white url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    flex-shrink: 0;
}
