/*
 * === Global style ===
 */

/* Global style */
body{
    color: #484848;
    font: 14px Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
 }
 html, body {
    width: 100%;
    overflow-x: hidden;
 }
 .container{
    margin: 30px auto;
    max-width: 1000px;
 }

 /*strong*/
 strong {
   font-weight: bold;
 }
