body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media query for screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
