/* Footer style */
footer {
  background-color: green;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer text style */
.in-footer {
  margin: 0;
}
