/* 
==============================================
Footer
==============================================
*/
footer {
  background-color: #00ff00;
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

/* 
==============================================
Footer text
==============================================
*/
p {
  margin: 0;
  padding: 0;
  line-height: 60px;
  text-align: center;
}
