footer {
        background:white;
        width: 100%;
        border-top: 1px solid #CCCCCC;
        padding-top: 30px;
        padding-bottom: 30px;
        bottom: 0;
        text-align: center;
}