/* Header style */
header {
  color: white;
  border-bottom: 1px solid #cccccc;
  height: 70px;
  width: 100%;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: 20px center;
}
