*{
        box-sizing: border-box;
}
body {
        box-sizing: border-box;
        height: 0%;
        margin: 0%;
        padding:0%;
        color:  #484848;
        font-size: 14px;
        font-family: Circular,"Helvetica Neue", Helvetica, Arial, sans-serif;
}
.container {
        max-width: 1000px;
        margin: 30px auto;
        min-height: 75vh;
}