/* Filters style */
.filters {
  color: white;
  height: 70px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dddddd;
}

/* Filters button style */
.filters button {
  float: right;
  margin-top: 11px;
  font-size: 18px;
  color: #ffffff;
  background-color: #ff5a5f;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.filters button:hover {
  opacity: 0.9;
}
