.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;	
}

button {
	color: #FFFFFF;
	font-size: 18px;
	
	height: 48px;
	width: 20%;
	background-color: #FF5A5F;
	border-style: none;
	border-radius: 4px;

	float: right;
	margin-top: 11px;
	margin-bottom: 11px;
	margin-right: 30px;
}

button:hover {
	opacity: 90%;
}
