.filters {
    background-color: white;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;  
    align-items: center;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    
}
.filters button:hover {
    opacity: 0.9;
}
