.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

section.filters button{
    font-size: 18px;
    color: white;
    background-color: #FF5A5F;
    height: 48px;
    border: 0px;
    border-radius: 4px;
    width: 20%;
    margin-right: 30px;
    opacity: 1;
}

section.filters button:hover {
    opacity: 0.9;
}
