section.filters {
    background-color:white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
}

section.filters button:hover {
    opacity: 90%;
}

div.locations, div.amenities {
    height: 100%;
    width: 25%;
    margin-left: 5%;
}

div.locations {
    border-right: 1px solid #DDDDDD;
}

div.locations h3, div.amenities h3 {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 0;
}

div.locations h4, div.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
}