.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #DDDDDD;
    border-radius: 4px;
    text-align: right;
}

section.filters button{
    margin-top: 11px;
    margin-bottom: 11px;
    margin-right: 30px;
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}
section.filters button:hover {
    opacity: 0.9;
}
.locations{
    text-align: left;
    height: 100%;
    width: 25%;
    border-right: solid 1px #DDDDDD;
    margin-left: 30px;
    float: left;
}
.amenities{
    text-align: left;
    height: 100%;
    width: 25%;
    margin-left: 30px;
    float: left;
}
h3{
    font-weight: 600;
    margin: 0px;
    margin-top: 17px;
    padding: 0px;
}
h4{
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    font-size: 14px;
}
