/* 
==============================================
Filter container
==============================================
*/
.filters {
  display: flex;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
/* 
==============================================
Button
==============================================
*/
button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin: 0 30px 0 25%;
}
button:hover {
  opacity: 90%;
}

/* 
==============================================
Location and Amenity
==============================================
*/
.filters .location {
  border-right: 1px solid #dddddd;
}

.filters .location,
.filters .amenities {
  height: 100%;
  width: 25%;
}

h3 {
  font-weight: 600;
  margin-bottom: 0;
}
h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
}
.filters .location h3,
.filters .amenities h3,
.filters .location h4,
.filters .amenities h4 {
  margin-left: 25%;
}
