.filters {
	background-color: white;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;	
}

.locations {
	display: inline-block;
	vertical-align: middle;

	height: 100%;
	width: 25%;

	margin-left: 45px;
	border-right: 1px solid #DDDDDD;
}

.amenities {
	display: inline-block;
	vertical-align: middle;

	height: 100%;
    width: 25%;

	margin-left: 45px;
}

h3 {
	font-weight: 600;
	margin-top: 12px;
	margin-bottom: 5px;	
}

h4 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
	margin-bottom: 12px;
}

button {
	color: #FFFFFF;
	font-size: 18px;
	
	height: 48px;
	width: 20%;
	background-color: #FF5A5F;
	border-style: none;
	border-radius: 4px;

	float: right;
	margin-top: 11px;
	margin-bottom: 11px;
	margin-right: 30px;
}

button:hover {
	opacity: 90%;
}
