.filters {
    background-color: white;
    height: 70px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;  
    align-items: center;
    position: relative;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    position: absolute;
    right: 30px;
    
}
.filters button:hover {
    opacity: 0.9;
}

.locations, .amenities {

    height: 100%; 
    width: 25%;
    position: relative;
    display: flex;
    justify-content: center; 
    flex-direction: column; 

}

.locations {
    border-right: 1px solid  #DDDDDD ;
}

.locations h3,  .amenities h3{
    font-weight: 600;
    margin: 2px 20px;
}
.locations h4,  .amenities h4{
    font-weight: 400;
    font-size: 14px;
    margin: 2px 20px;   
}
