/* 
==============================================
styling the whole body
==============================================
*/
body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* 
==============================================
Filter container
==============================================
*/
.filters {
  display: flex;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
/* 
==============================================
Filter button style
==============================================
*/
.filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  margin: 0 30px 0 25%;
}
/* 
==============================================
Filter button hover
==============================================
*/
.filters button:hover {
  opacity: 90%;
}
/* 
==============================================
Filter location and amenities style
==============================================
*/
.filters .location,
.filters .amenities {
  height: 100%;
  width: 25%;
}

.filters .location {
  border-right: 1px solid #dddddd;
}

h3 {
  font-weight: 600;
  margin-bottom: 0;
}
h4 {
  font-weight: 400;
  font-size: 14px;
  margin-top: 0;
}
.filters .location h3,
.filters .amenities h3,
.filters .location h4,
.filters .amenities h4 {
  margin-left: 25%;
}
/* 
==============================================
Filter popover style
==============================================
*/
.filters .popover {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  padding-bottom: 20px;
  margin-top: 20px;
  border-top-style: hidden;
  margin-right: -2px;
  padding-top: 1px;
  display: none;
  position: relative;
}

/* display the block while hovering */
.filters .location:hover .popover,
.filters .amenities:hover .popover {
  display: block;
}
/* background to location and amenities while hovering */
.filters .location:hover,
.filters .amenities:hover {
  background-color: #fafafa;
}
/* style the margin of the heading of popover class */
.filters .popover h2 {
  font-size: 18px;
  margin-top: 20px;
  margin-left: 55px;
}

/* 
==============================================
style the lists of the popover
==============================================
*/
.filters li {
  list-style: none;
  margin-left: 40px;
  margin-top: 15px;
}
