.places {
    display: flex;
    flex-flow: row wrap; /* row is default so flex-wrap works too */
    justify-content: center;
    width: 95%;
    margin: auto;
    padding-top: 10px;
}

.places h1 {
    font-size: 30px;
    width: 100%;
    margin-bottom: 0;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border:#FF5A5F 1px solid;
    border-radius: 4px;
    text-align: center;
}

.places article h2 {
    font-size: 30px;
    margin: auto;
    padding-bottom: 5%;
}