.places {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    width: 100%;
    font-size: 30px;
}

article { 
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

article h2 {
    font-size: 30px;
    text-align: center;
}
