<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>AirBnB Clone</title>
		<!-- page icon -->
		<link rel="icon" href="images/icon.png" />
		<link rel="stylesheet" href="styles/4-common.css" />
		<link rel="stylesheet" href="styles/3-header.css" />
		<link rel="stylesheet" href="styles/3-footer.css" />
		<link rel="stylesheet" href="styles/6-filters.css" />
	</head>

	<body>
		<header></header>
		<div class="container">
			<section class="filters">
				<div class="locations">
					<h3>States</h3>
					<h4>Lagos, Abuja...</h4>

					<div class="popover">
						<ul>
							<h2>Lagos:</h2>
							<li>Ikeja</li>
							<li>Oshodi</li>
						</ul>

						<ul>
							<h2>Abuja:</h2>
							<li>Maraba</li>
							<li>Kuje</li>
						</ul>
					</div>
				</div>

				<div class="amenities">
					<h3>Amenities</h3>
					<h4>Hospital, Gym...</h4>

					<div class="popover">
						<ul>
							<li>Hospitals</li>
							<li>Church</li>
							<li>Gyms</li>
						</ul>
					</div>
				</div>

				<button>Search</button>
			</section>
		</div>

		<footer>Best School</footer>
	</body>
</html>
