<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
            {% for state_id, state in states.items()|sort(attribute='name') %}
            <LI>{{ state_id }}: <B>{{ state.name }}</B>
                <UL>
                {% if state.cities %}
                    {% for city in state.cities|sort(attribute='name') %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                    {% endfor %}
                {% endif %}
                </UL>
            </LI>
            {% endfor %}
        </UL>
    </BODY>
</HTML>