<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>States and Cities</title>
    </head>
    <body>
        <h1>States</h1>
        <ul>
            {% for state in states %}
                <li>{{ state.id }}: <b>{{ state.name }}</b></li>
                    <ul>
                        {% for city in state.cities %}
                            <li>{{ city.id }}: <strong>{{ city.name }}</strong></li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </body>
</html>
