<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
       {% if flag is 1 %}
       <H1>States</H1>
       <UL>
       {% for state in states_cities %}
       <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
       {% endfor %}
       </UL>
       {% else if flag is 0 %}
       <H1>State: {{ states_cities.name }}</H1>
        <H3>Cities:</H3>
        <UL>
            {% for city in state_cities.cities %}
            <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
            {% endfor %}
        </UL>
        {% else if flag is -1 %}
        <H1>Not found!</H1>
       {% endif %}
    </BODY>
</HTML>