<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HBNB</title>
  </head>
  <body>
    {% if id == None %}
    <h1>States</h1>
    <ul>
      {% for ste in states.values() | sort(attribute='name') %}
      <li>{{ ste.id }}: <b>{{ ste.name }}</b></li>
      {% endfor %}
    </ul>
    {% elif state %}
      <h1>State: {{state.name}}</h1>
      <h3>Cities:</h3>
      <ul>
        {% for city in states.cities | sort(attribute='name') %}
        <li>{{ city.id }}: <b>{{ city.name }}</b></li>
        {% endfor %}
      </ul>
    {% else %}
    <h1>Not found!</h1>
    {% endif %}
  </body>
</html>