<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <title>HBNB</title>
    </HEAD>
    <BODY>
        {% if id is none %}
        <H1>States</H1>
        <UL>
            {% for item in db.values() | sort(attribute='name') %}
                <LI>{{ item.id }}: <B>{{ item.name }}</B>
            {% endfor %}
        </UL>
    {% else %}
        {% for state in db.values() | if id == state.id %}
            <H1>State: {{ state.name }}</H1>
            <H3>Cities:</H3>
            <UL>
                {% for city in state.cities | sort(attribute='name') %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                {% endfor %}
            </UL>
        {% else %}
            <H1>Not Found!</H1>
        {% endfor %}{% endif %}
    </BODY>
</HTML>
